.form {
  position: absolute !important;
  top: 5px;
  right: 50px;
  z-index: 5;
}

.order-tap {
  width: 240px;
}

/* setting for iPad screen */
@media screen and (min-width: 768px) {
  .feedback {
    font-size: large;
    width: 35rem;
    /* left: 30%; */
  }
}
